.about {
  /* background: linear-gradient(45deg, hsl(196, 40%, 91%), hsl(196, 21%, 97%)); */
  @apply xl:px-64 justify-center items-center w-full py-40 flex flex-col text-black md:text-white;
}

.upsidedown:hover {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
