@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply h-full;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

h1 {
  @apply font-semibold py-5 md:text-6xl text-4xl;
}

h2 {
  @apply text-5xl;
  @apply font-semibold;
  @apply py-4;
}

h3 {
  @apply text-4xl;
  @apply font-semibold;
  @apply py-4;
}

h4 {
  @apply text-3xl font-semibold py-2;
}

ul {
  @apply list-disc;
}

.blur {
  /* Add the blur effect */
  /* backdrop-filter: blur(8px); */
  filter: blur(3px);
  -webkit-filter: blur(3x);
}

.backdrop {
  /* Add the blur effect */
  backdrop-filter: blur(2px);
}

.stroke-black {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.stroke-white {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.stroke-yellow {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff927b;
}

.stroke-indigo {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #312e81;
}

.stroke-green {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #10b981;
}

.stroke-yellow-white-text {
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff927b;
}

.yellow-wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgba(245, 158, 11);
}

.no-overflow-x {
  /* overflow-y: visible; */
  /* overflow-x: hidden; */
}

article {
  max-width: 680px;
}
